/* Start Fieldset */
.tp-field {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.tp-field-label {
    width: 35%;
}
.tp-field .tp-field-input {
    width: calc(100% - 38%);
}
.tp-field-label label {
    font-size: 14px;
    color: #242628;
    font-weight: 500;
}
.tp-field-desc {
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
    color: #9e8cca;
    font-weight: 400;
}
.tp-field .tp-field-input {
    width: 300px;
}
.tp-field .tp-field-input input[type='text'],
.tp-field .tp-field-input input[type='email'],
.tp-field .tp-field-input input[type='number'],
.tp-field .tp-field-input input[type='password'],
.tp-field .tp-field-input input[type='text']:focus {
    width: 100%;
    border: 1px solid #bba8e7;
    border-radius: 6px;
    box-shadow: none;
    padding: 3px 10px;
}
.tp-field .tp-field-input textarea {
    min-height: 80px;
    border: 1px solid #bba8e7;
    padding: 3px 10px;
    width: 100%;
}
.tp-field .tp-field-input select {
    width: 100%;
    border: 1px solid #bba8e7;
    border-radius: 4px;
    box-shadow: none;
    padding: 3px 10px;
}
/* End fieldset */

/*== start switch style ==*/
.tp-switch-wrapper {
    position: relative;
}
.tp-switch[type='checkbox'] {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}

.tp-switch-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: #665f7a;
    display: block;
    border-radius: 100px;
    position: relative;
}

.tp-switch-label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50px;
    transition: 0.3s;
}

.tp-switch:checked + label {
    background: #814bfe;
}

.tp-switch:checked + label:after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
}

.tp-switch-label:active:after {
    width: 50px;
}
/*== End switch style ==*/

.tp-image-container {
    margin-top: 10px;
}
.tp-upload-button {
    color: #814bfe !important;
    border-color: #814bfe !important;
}
.tp-upload-button:focus {
    box-shadow: none !important;
}
