.tpsm-guide-me-button {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    border: 1px solid #ddd;
    border-right: 0;
    padding: 15px 7px;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
    color: #303030;
    font-weight: 500;
    background-color: #f1eef9;
}

.tpsm-guide-me-button a {
    text-decoration: none;
    color: #814bfe;
}

.tpsm-guide-me-button a:focus {
    box-shadow: none;
    outline: none;
}

.tpsa-topbar-info-area a {
    display: inline-block;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 4px;
    color: #814bfe;
    border: 1px solid #814bfe;
    font-weight: 500;
    font-size: 14px;
}

.tpsa-titles h1 {
    font-size: 24px;
    font-weight: 500;
    padding: 0;
}

.tpsa-icons img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.tpsa-logo-title-area {
    display: flex;
    align-items: center;
}

.tpsa-plugin-topbar-wrapper {
    background-color: #fff;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
}

.tp-secure-admin_container {
    background-color: #fff;
    display: flex;
}

.tpsa-siderbar-wrapper {
    padding: 20px 10px;
    width: 200px;
    background-color: #f6f9f9;
}

.tpsa-siderbar-wrapper ul li a,
.tpsa-siderbar-wrapper ul li a:active,
.tpsa-siderbar-wrapper ul li a:focus,
.tpsa-siderbar-wrapper ul li a:focus-visible,
.tpsa-siderbar-wrapper ul li a:visited {
    text-decoration: none;
    display: flex;
    font-weight: 500;
    border-radius: 3px;
    transition: 0.3s all ease;
    color: #3d444b;
    outline: 0;
    padding: 10px 10px;
    font-size: 15px;
    box-shadow: none;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    background-color: #F1F5F9;
    line-height: 1.6;
}

.tpsa-siderbar-wrapper ul li a.active {
    color: #814bfe;
    border: none;
}

.tpsa-siderbar-wrapper ul li a span {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
    box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);

}

.tpsa-siderbar-wrapper ul li a.active span {
    color: white;
    background-image: linear-gradient(to bottom right,
            #3b82f6,
            #06b6d4);
}

.tpsa-main-wrapper {
    padding: 50px;
    padding-bottom: 100px;
    padding-top: 30px;
    width: calc(100% - 320px);
    position: relative;
}

.tpsa-setting-wrapper h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #1d2327;
    margin-bottom: 35px;
    border-bottom: 1px solid #e2d8fb;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tpsa-setting-row {
    margin-bottom: 35px;
}

.tpsa-setting-wrapper .tpsa-save-button {
    margin-top: 50px;
}

.tpsa-setting-wrapper .tpsa-save-button button {
    padding: 12px 30px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #814bfe;
    color: #fff;
    border: none;
    font-weight: 500;
}

.tpsa-rating-message {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #814bfe;
}

.tpsa-rating-message .tpsa-stars {
    color: #ffb900;
    font-size: 14px;
    margin: 0 5px;
    font-weight: 500;
}

/*Tooltip style*/
.tp-feature {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.tp-help-icon {
    border: 1px solid #814bfe;
    background-color: transparent;
    color: #814bfe;
    font-size: 14px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tooltip styles */
.tp-tooltip {
    visibility: hidden;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ece6f9;
    color: #1d2327;
    padding: 5px 10px;
    border-radius: 5px;
    width: 150px;
    font-size: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show tooltip when hovering over the help icon */
.tp-feature:hover .tp-tooltip {
    visibility: visible;
    opacity: 1;
}

.tp-site-url-input {
    display: flex;
    align-items: center;
    gap: 2px;
}

.tp-field .tp-field-input .tp-site-url-input input[type="text"] {
    width: 50%;
}


/***Popup style for pro plugin ****/

/* Overlay */
.tpsa-pro-popup-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(13, 10, 30, 0.55);
    backdrop-filter: blur(3px);
    z-index: 999999;
    align-items: center;
    justify-content: center;
}

/* Popup Box */
.tpsa-pro-popup-box {
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    background: #ffffff;
    width: 420px;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.20);
}

.tpsa-pro-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tpsa-pro-popup-header h2 {
    margin: 0;
    font-size: 20px;
    color: #1d2327;
}

.tpsa-pro-close {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    line-height: 20px;
}

/* Icon */
.tpsa-pro-icon-box {
    text-align: center;
    margin: 20px 0;
}

.tpsa-pro-icon-box img {
    width: 70px;
    opacity: 0.9;
}

/* Buttons */
.tpsa-pro-buttons {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.tpsa-pro-btn {
    flex: 1;
    padding: 12px;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.tpsa-pro-btn:hover {
    opacity: 0.9;
    color: #fff;
}

.purchase-btn {
    background: #814bfe;
}

.license-btn {
    background: #3d444b;
}

/* Small link */
.tpsa-pro-small-link {
    margin-top: 15px;
    text-align: center;
}

.tpsa-pro-small-link a {
    text-decoration: none;
    font-size: 14px;
    color: #814bfe;
    font-weight: 500;
}


/* start Security Score */
.asg-ss_wrapper {
    margin-top: 20px;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Gradient Border */
.asg-ss_gradient-border {
    position: relative;
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(135deg,
            #a855f7,
            #ec4899,
            #f97316);
}

/* Card */
.asg-ss_card {
    background: #ffffff;
    border-radius: 16px;
    padding: 20px;
}

/* Header */
.asg-ss_card-header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
}

.asg-ss_shield-icon {
    width: 20px;
    height: 20px;
    color: #9333ea;
}

.asg-ss_card-title {
    font-weight: 600;
    color: #0f172a;
    font-size: 14px;
}

/* Score */
.asg-ss_score {
    display: block;
    gap: 8px;
    margin-bottom: 12px;
}

.asg-ss_score-value {
    font-size: 36px;
    font-weight: 700;
    background: linear-gradient(90deg, #9333ea, #ec4899);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.asg-ss_score-total {
    font-size: 14px;
    font-weight: 500;
    color: #64748b;
}

/* Progress Bar */
.asg-ss_progress-bar {
    height: 8px;
    background: #f1f5f9;
    border-radius: 9999px;
    overflow: hidden;
}

.asg-ss_progress-fill {
    height: 100%;
    background: linear-gradient(90deg, #9333ea, #ec4899);
    border-radius: 9999px;
}

/* Status Text */
.asg-ss_status-text {
    margin-top: 12px;
    font-size: 12px;
    color: #64748b;
}

/* end security score */